  <div class="container calendar">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2>Choose a day</h2>

      <%= simple_form_for [@tour, @booking] do |f| %>
        <%= f.input :date, label: false, as: :string, required: false, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Book", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

