// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
@import "tour-show";
@import "tour-edit";
@import "bookings-index";
@import "tours-index";

.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}

.body h1 {
  font-family: 'Raleway', sans-serif !important;
}

.body p a i h3 h4 {
  font-family: 'Inconsolata', monospace !important;
}
