.container.form {
  width: 800px;
  padding: 50px;
}

input.btn {
  box-shadow: 2px 2px 2px darkgrey;
  border-radius: 5px;
}

p.btn {
  box-shadow: 2px 2px 2px darkgrey;
  border-radius: 5px;
  background-color: white;
}
