<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/jlsrvr/-airtournguide"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by BeachPlease <i class="fas fa-umbrella-beach"></i>
  </div>
</div>


