<h2><%= @tour.name %></h2>

<div class="container">
  <div class="contTour">
    <div class="tourDescription">
      <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non officia itaque repellat quod provident facere, sit eum vero fugit sequi autem nostrum, minima odit rem aliquam sunt assumenda voluptas iusto.</span>
      <span>Sint, temporibus, nulla. In neque modi sint sequi voluptas nostrum, et temporibus, optio nobis, dolor cum! Ratione dicta quibusdam, dolore iusto tempore facilis est maxime itaque, recusandae, provident aliquam ea!</span>
      <span>Unde incidunt, aliquam tempora neque sapiente repellat dignissimos distinctio alias quas odit. Earum blanditiis, consectetur. Alias veniam quibusdam dolores assumenda suscipit minima, odit, cum, magnam tempora adipisci commodi quidem deserunt.</span></p>
      <p><%= @tour.price %></p>
    </div>
    <div class="userInfo">
      <%= @tour.user.first_name %>
    </div>
  </div>
</div>

