<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(74,180,205,0.5)), url(https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=766&q=80);">
  <div class="container text-center">
    <h1>Discover places in a new way!</h1>
    <p>Visit <span id="banner-typed-text2"></span>like a <span id="banner-typed-text">local!</span></p>


    <%= form_tag tours_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a city"
      %>
    <% end %>



       </div>
  </div>
</div>

<div class="container">
  <% @tours = Tour.all.first(4) %>
  <div class="row">
    <% @tours.each do |tour| %>
      <div class="col-xs-6 col-sm-3">
        <%= render 'shared/cards', tour: tour %>
      </div>
    <% end %>
  </div>
</div>
