<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(74,180,205,0.5)), url(https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=766&q=80);">
  <div class="container text-center">
    <h1>Discover places in a new way!</h1>
    <p>Visit <span id="banner-typed-text2"></span>like a <span id="banner-typed-text">local!</span></p>
       <div class="search">
          <input type="text" class="searchTerm" placeholder="Where are you going ?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
  </div>
</div>

<div class="container">
  <div class="col-xs-12">
    <!-- <div class="cards"> -->
      <% @tours = Tour.all %>
      <% @tours.each do |tour| %>
        <%= render 'shared/cards', tour: tour %>
        <% end %>
    <!-- </div> -->
  </div>
</div>
