<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(74,180,205,0.5)), url(https://images.unsplash.com/photo-1484544808355-8ec84e534d75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=766&q=80);">
  <div class="container text-center">
    <h1>Discover places in a new way!</h1>
    <p>Visit <span id="banner-typed-text2"></span>like a <span id="banner-typed-text">local!</span></p>
       <div class="search">
          <input type="text" class="searchTerm" placeholder="Where are you going ?">
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
         </button>
       </div>
  </div>
</div>

<div class="container">
  <div class="cards">
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1515859033836-a0a913c0f94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80">
      <div class="card-trip-infos">
        <div>
          <h2>Old Fashionned Paris</h2>
          <p>Une immersion dans le vieux paris</p>
        </div>
        <h2 class="card-trip-pricing">30€</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1505330003098-720b32d7a7a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=621&q=80">
      <div class="card-trip-infos">
        <div>
          <h2>Un Paris sur l'avenir</h2>
          <p>Découvrez la Défense</p>
        </div>
        <h2 class="card-trip-pricing">20€</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1516792420189-90be9f795331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      <div class="card-trip-infos">
        <div>
          <h2>Venise Vedi Vice</h2>
          <p>Dal ponte Rialto alla Piazza San Marco</p>
        </div>
        <h2 class="card-trip-pricing">30€</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1516792420189-90be9f795331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      <div class="card-trip-infos">
        <div>
          <h2>Venise Vedi Vice</h2>
          <p>Dal ponte Rialto alla Piazza San Marco</p>
        </div>
        <h2 class="card-trip-pricing">30€</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
    <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1516792420189-90be9f795331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
      <div class="card-trip-infos">
        <div>
          <h2>Venise Vedi Vice</h2>
          <p>Dal ponte Rialto alla Piazza San Marco</p>
        </div>
        <h2 class="card-trip-pricing">30€</h2>
        <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
      </div>
    </div>
  </div>
</div>
