#map {
  position: sticky;
  top: 70px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.col-xs-4.custom-md-4 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.row.custom-row {
    position: relative;
}
