.container.reviews {
  width: 800px;
}

.container.reviews.guide {
  width: 400px;
}

.fas.fa-star {
  color: #e6b30e;
}

.far.fa-star {
  color: #D2D2D2;
}

.border {
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
